<center>
<p id="notice"><%= notice %></p>

<h1>Thank You! <%= @rsvp.name %></h1>



  <%= @rsvp.email %>

<br><br><br><br><br>



<h1><%= link_to 'Make a mistake?', edit_rsvp_path(@rsvp) %></h1> 

</center>